.menu-bar{
    background-color:#0c6900;
   text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;

}

.menu-bar ul li{
    margin: 15px;
    padding: 15px; ;
    width: 120px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;

}

.certif_1{
    display: none;

}
.menu-bar ul li:hover .certif_1{
    display: block;
    position: absolute;
    background-color: #0c6900;
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .certif_1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .certif_1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .certif_1 ul li a:hover{
color: bisque;

}


.fa-angle-right{
    float: right;
}
.sub-menu2{
    display: none;
}
.hover-me:hover .sub-menu2{
    position: absolute;
    display: block;
    margin-top: -40%;
    margin-left: 140px;
    background: #0c6900; 
}