@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
html, body{
    padding: 0; 
    margin: 0;
    font-family: 'roboto';
    box-sizing: border-box;
    flex-direction: column;

}
*{
    padding: 0;
    margin: 0;
}

.menu-bar{
    z-index: 10;
}

.contenu{
    flex: 1 auto;
}

.contenu p{
    padding: 5vw 10vw;
    text-align: justify;
}
footer{

    flex-shrink: 0;
    width: 100%;
    color: #333;

}
.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;

}

.bloc{
    margin: 0 30px;
    width: 25%;
}

/*contact*/

.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3{
    font-size: 25px;
    padding-bottom: 20px;

} 

/*services*/

.footer-services ul{
    list-style-type: none;
}
.footer-services ul a{
    text-decoration: none;
    color: #333;
}

.footer-services ul a:hover{
    color:rgb(202, 122, 24)
}




.video{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 60%;
    left: 27%;
    border-radius: 10px;


}

video{
    width: 100%;
    height: 100%;
    opacity: 1;
   
   
}

h1{
    position: absolute;
    width: 50%;
    height: 70%;
    position: absolute;
    top: 45%;
    left: 8%;
 text-align: justify;
 font-family: 'roboto';
 color: #fff;
}
h2{
    position: absolute;
    width: 50%;
    height: 70%;
    position: absolute;
    top: 80%;
    left: 50%;
 text-align: justify;
 font-family: 'roboto';
 color: #fff;

}


